*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
}

.card{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.carousel-item img{
    object-fit: contain;
}

.carousel-item{
    max-height: 800px;
}

.mobil-carousel{
    position: absolute;
    top: 300px;
    left: 250px;
    color: #59C1BD;
}

.mobil-carousel button{
    border: none;
    background-color: #CFF5E7;
    border-radius: 12px;
    width: 180px;
    height: 45px;
    cursor: pointer;
    margin-top: 20px;
}

.mobil-carousel button:hover{
    background-color: black;
    color: #CFF5E7;
}

.favorite-car{
    display: flex;
    justify-content: center;
}

.fav{
    margin-left: 80px;
    text-align: center;
}

h4{
    font-weight: bolder;
}

.harga p{
    font-weight: bolder;
}