.navbar{
    margin-top: 30px;
    display: flex;
}

.navbar a{
    position: relative;
}

ul{
    display: flex;
}

ul li{
    margin-top: 20px;
    margin-left: 60px;
}

ul li a{
    text-decoration: none;
    color: var(--text-color);
    color: #CFF5E7;
}